name: Java CI with Maven

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 25
      uses: actions/setup-java@v4
      with:
        java-version: '25'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn -B package --file pom.xml

    - name: Upload JAR as Artifact
      uses: actions/upload-artifact@v4
      with:
        name: nnn-http-jar
        path: target/nnn-http-1.0-SNAPSHOT-jar-with-dependencies.jar
        if-no-files-found: warn
